/*!
 * Start Bootstrap - Landing Page v5.0.8 (https://startbootstrap.com/themes/landing-page)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-landing-page/blob/master/LICENSE)
 */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

header.masthead {
  position: relative;
  background: url("/images/bg-masthead-2.webp") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
  background-position: top center;
}

@media (max-width: 768px) {
  .showcase .wide-showcase-img {
    min-height: 20rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}


/**
 *  LOGIN PAGE
 */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/images/bg-masthead-2.webp');
  background-size: cover;
  background-position: center;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}




/** 
 * TODO: Remove all of the CSS from here that is unnecessary 
 *      and try to split it up into smaller files
 */

/**
 *  Custom CSS
 */
 
.rounded-inputs {
  border-radius: 2rem !important;
}

input::placeholder {
  color: #AAB7C4 !important;
}

html, body {
  height: 100% !important;
  min-height: 100% !important;
}

.Toastify__toast {
  border-radius: 10px !important;
}

.Toastify__toast--success {
  background-color: #28A745 !important;
}

.Toastify__toast--error {
  background-color: #DD3444 !important;
}

.Toastify__toast--warning {
  background-color: #FFC106 !important;
}

/** Custom Uniforms ErrorField styling */
.custom-error {
  margin: 0 !important;
}

.custom-error .card-body {
  padding: 0 !important;
}

.custom-error .card-body .card-title {
  font-size: 12pt !important;
  margin: 0 !important;
  font-weight: normal !important;
}

/* Disable a link */
a.disabled {
  pointer-events: none;
  cursor: default;
  color: lightgrey;
}

/**
 * Dashboard customisation page
 */
.order-confirm-message-textarea {
  height: 100px !important;
}

@media only screen and (max-width: 992px) {
  .customisation-labels {
    border: none !important;
  }
}

/**
 * Fonts
 */
@font-face {
  font-family: 'nunito-regular';
  src: url('/fonts/nunito/nunito-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**
 * Custom Tabs 
 */
.qrder-tabs > .nav-link.active {
  border-color: #4166D4 !important;
  border-width: thick;
}

@media only screen and (max-width: 768px) {
  .qrder-tabs {
    overflow: scroll hidden;
  }
}

/**
 * Custom Modals
 */
.wide-modal {
  width: 70vw !important;
  min-width: 70vw !important;
}

@media only screen and (max-width: 992px) {
  .wide-modal {
    width: 100vw !important;
    min-width: 100vw !important;
  }
}


/** 
 * HubSpot Chat
 */
#hubspot-messages-iframe-container {
  right: -500px;
}