<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="QR ordering system for restaurants, pubs, bars and cafes.  Customers can make orders and pay using their phone.  Create your menu and print off your QR codes to get started.  Free trial.">
  <meta name="keywords" content="QR, order, restaurant, pub, bar, cafe, stripe, hands-free, phone, code, QR Code, qrder, qrder io, uk, United Kingdom, England, Wales, Scotland, free, trial">
  <meta name="author" content="QRDER">
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' http://* data: blob:;" />
  <title>QRDER: QR Ordering System</title>
  <link rel="icon" type="image/svg" href="/images/qrder-logo/qrder-logo.png"/>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '439157857278360');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=439157857278360&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Global site tag (gtag.js) - Google Ads: 440844833 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-440844833"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-440844833');
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WNMT5N6');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe 
      src="https://www.googletagmanager.com/ns.html?id=GTM-WNMT5N6"
      height="0" width="0" style="display:none;visibility:hidden"
    ></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Main QRDER React Application -->
  <div id="react-target"></div>
  <!-- End Main QRDER React Application -->

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/19969005.js"></script>
  <!-- A custom script is also imported in /imports/startup/client/index.js to hide the widget on mobile and add event listeners -->
  <!-- End of HubSpot Embed Code -->
</body>
