.navbar-nav {
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    width: 300px;
  }
}

@media only screen and (max-height: 992px) {
  .nav-hr {
    display: none !important;
  }
}

@media only screen and (max-height: 768px) {
  .sidenav-qrder-logo {
    display: none !important;
  }
}