.side-nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  color: #4166D4 !important;
  background-color: white !important;
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  .side-nav-link:hover,
  .nav-pills .nav-link.active,
  .nav-pills .nav-link:hover {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
  }
}