/** Center Navigation of Tour */
[data-tour-elem="controls"] {
  justify-content: center;
}

/** Make font smaller on small devices */
@media only screen and (max-width: 500px) {
  #___reactour {
    padding: 15px 25px;
  }

  #___reactour p, 
  #___reactour li {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }

  #___reactour a {
    font-size: 0.95rem;
    margin-bottom: 0.4rem;
  }
}
