.table-qr {
  text-align: center;
  border: 5px solid lightgrey;
  border-radius: 10%;
  overflow: hidden;
}

.table-qr .venue-name {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
}

.table-qr .qr-code {
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-qr .table-name {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
}